{:dependencies
 [{:dependency/id etzhayyim/root
   :dependency/repository "https://github.com/etzhayyim/root"
   :dependency/revision "1ce8a65a8fe5b68aa5fda43004bf2bc14a5e13e7"
   :dependency/paths ["90-docs/adr"]}
  {:dependency/id org.kotoba-lang/kotoba
   :dependency/repository "https://github.com/kotoba-lang/kotoba"
   :dependency/revision "fc7e98bec18b841825da64940aa5898505de56df"
   :dependency/west-path "orgs/kotoba-lang/kotoba"}]}
